@model IEnumerable<SaraShopWarehouse.Entities.IOrder>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessedAt)
            </td>
            <td>
                @using (Html.BeginForm("ProcessOrder", "Order", item.Id, FormMethod.Post))
                {
                    <input hidden value="@item.Id" name="id" />
                    <button type="submit" disabled="@(item.ProcessedAt)">Proccess Order</button>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 

            </td>
        </tr>
}
    </tbody>
</table>
